<div id="support_modal_container">
    <div class="modal" id="support_modal">
        <div id="support_modal_close" class="btn_wrapper">
            <button id="support_modal_close_button" class="close_button">x</button>
        </div>
        <div id="support_text">
            <h1 id="support_title">ABOUT</h1>
            <p class="support-copy">F1 Team Orders is brought to you by <a href="https://twitter.com/sethbilliau" target="_blank" style="color:#0000EE">Seth Billiau</a>, a new F1 fan from the Washington, DC, in the USA 🏎️.</p>
            <br>
            <p class="support-copy">If you're interested in supporting this project, you can help fuel these late nights by donating me a coffee (or Red Bull) below.</p>
            <br>
            <p class="support-copy" id="coffee-link">
                <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy Seth a Coffee', '#29abe0', 'E1E4G9GRA');kofiwidget2.draw();</script>
            </p>
            <!-- <p class="support-copy">Last, and certainly not least, special thank you to all of my friends who have helped bring this project to life. This game wouldn't be the same without your help, and y'all are the real MVPs.</p> -->
        </div>
    </div>
</div>
