<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Team Orders!</a>
    <!-- TODO Evaluate: This Toggler button might be unnecessary -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/">Daily</a></li>
                <li class="nav-item"><a class="nav-link" href="/unlimited">Unlimited</a></li>
                <li class="nav-item"><a class="nav-link" href="/explore">Visualize</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2">
                {% if request.path != "/explore" %}
                <li class="nav-item"><a class="nav-link" id="nav-tutorial">Tutorial</a></li>              
                <li class="nav-item"><a class="nav-link" id="show_soln">Show Solution</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" id="nav-support">Support</a></li>
            </ul>
    </div>
</nav>
