# Ignoring git and cache folders
.git
.cache

# # Ignore Dockerfile
# Dockerfile

# Python 
.ipynb_checkpoints

# Ignore DS Store 
.DS_Store

# IPython
profile_default/
ipython_config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# eslintrc.json
.eslintrc.json
.eslintrc.js