html, body {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
  margin-bottom: 5px;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;

}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}



/* Floating column for labels: 50% width */
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-33 {
  float: left;
  width: 33%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-125 {
  float: left;
  width: 12.5%;
  margin-top: 6px;
}

.col-225 {
  float: right;
  width: 12.5%;
  margin-top: 6px;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.float {
  float: right;
}


.border-light-blue {
  border-color: #A7C6DA !important;
}

.centerbutton {
  text-align: center;
}





/* New for F1 */
.pool-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(68, 68, 68);
  /* border-radius: 1px; */
  max-width: 615px;
  width: 100%;
  height: 35px;
  margin-bottom: 12px;
  padding: 5px 10px;
  font-size: 15px;
  text-align: left;
}


[data-hidden-pool-row] {
  display: none;
}

/* Results of a guess */
[data-guess-result="incorrect"] {
  color: rgb(58, 58, 60);
  /* background-color: rgb(58, 27, 27); */
  text-decoration: line-through;
}

[data-guess-result="winner"] {
  background-color: rgb(24, 105, 35);
}

#player-pool {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}


#board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: black;
  margin-top: 20px;
}


#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* min-width: 400px; */
  max-width: 1000px;
  height: 100%;
  justify-content: space-between;
}

#game_prompt {
  font-size: 16px;
  color: black;
  text-align: center;
}


.game-prompt-player {
  color: rgb(223, 162, 21);
  font-weight: 800;
}


/* Search Container */
#search-results-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  border: 2px solid rgb(24, 105, 35);
  z-index: 10;
}

#auto-complete-results {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

#search_stats:empty {
  display: none;
}

.auto-complete-result:empty {
  display: none;
}

.auto-complete-result {
  height: 35px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  border-top: 1px solid rgb(148, 148, 148);
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  padding: 5px 10px;
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


#search-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 150px;
  width: 100%;
  max-width: 615px;
  position: absolute;
  margin-top: 45px;
}


#search-container.guess_num_1 {
  margin-top: 105px;
}


#search-container.guess_num_2 {
  margin-top: 152px;
}


#search-container.guess_num_3 {
  margin-top: 199px;
}


#search-container.guess_num_4 {
  margin-top: 246px;
}


#search-container.guess_num_5 {
  margin-top: 303px;
}


#search-container.guess_num_6 {
  margin-top: 350px;
}


.hidden {
  display: none;
}