
{% extends "layout.html" %} 

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
    <meta id="data-aws" data-gameID="{{data.gameID}}" data-driver1="{{data.driver1}}" data-driver2="{{data.driver2}}">
    <div class="container">
        <div id="game">
            <div class="board">
                <div id="game_prompt">
                    <h3>
                        {% if request.path == "/" %}
                        <span>Daily Game #{{data.gameID}}: </span>
                        {% endif %}
                        <span>Connect </span>
                        <span class="game-prompt-player" id="prompt_player_1">{{data.driver1}}</span>
                        <span> to </span>
                        <span class="game-prompt-player" id="prompt_player_2">{{data.driver2}}</span>
                        <span> through mutual teammates</span>
                    </h3>
                </div>
                <div id="player-pool">
                    <div id="pool-row-start" class="pool-row game-start">
                        <span id="start_driver">{{data.driver1}}</span>
                    </div>
                    <div id="pool-row-1" class="pool-row" data-active-pool-row=""></div>
                    <div id="pool-row-2" class="pool-row" data-hidden-pool-row=""></div>
                    <div id="pool-row-3" class="pool-row" data-hidden-pool-row=""></div>
                    <div id="pool-row-4" class="pool-row" data-hidden-pool-row=""></div>
                    <div id="pool-row-5" class="pool-row" data-hidden-pool-row=""></div>
                    <div id="pool-row-6" class="pool-row" data-hidden-pool-row=""></div>
                    <div class="search-container" id="search-container">
                        <div class="search-results-container">
                            <div class="auto-complete-results">
                                <div class="search_stats" id="search_stats"></div>
                                <input type="submit" class="auto-complete-result" id="result-0">
                                <input type="submit" class="auto-complete-result" id="result-1">
                                <input type="submit" class="auto-complete-result" id="result-2">
                                <input type="submit" class="auto-complete-result" id="result-3">
                                <input type="submit" class="auto-complete-result" id="result-4">
                            </div>
                            <div class="search-wrapper">
                                <input
                                        type="text"
                                        name="searchBar"
                                        class="search_bar"
                                        id="search_bar"
                                        autocomplete="off"
                                        placeholder="search for a player"/>
                            </div>
                        </div>
                    </div>
                    <div id="pool-row-end" class="pool-row game-end">
                        <span id="final_driver">{{data.driver2}}</span>
                    </div>
                    <div id="remaining_guesses">
                        <h4>
                            <span class="remaining-guesses-text">( Remaining Guesses: </span>
                            <span class="remaining-guesses-number" id="remaining_guesses_number"></span> )
                        </h4>
                    </div>
                    <div id="come_back_daily">
                        <h5>
                            <br>
                            {% if request.path == "/" %}
                            <span class="come_back_text">Come back tomorrow after 12:00 am ET for a new <a class="clickable-links" href="/">daily</a> game.</span>
                            {% else %}
                            <span class="come_back_text">Click new game button or refresh the page for another pair of drivers in <a class="clickable-links" href="/unlimited">unlimited</a> mode.</span>
                            {% endif %}
                            <br> 
                            <br>
                            {% if request.path == "/" %}
                            <span class="come_back_text">Also, check out <a class="clickable-links" href="/unlimited">unlimited</a> mode to play on-demand and the <a class="clickable-links" href="/explore">visualize</a> page to explore F1 teammate networks.</span>
                            {% else %}
                            <span class="come_back_text">Don't forget to play today's <a class="clickable-links" href="/">daily</a> game if you haven't already! Also, check out the <a class="clickable-links" href="/explore">visualize</a> page to explore F1 teammate networks.</span>
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </div>
            {% block new_game %}
            {% endblock %}
        </div>
    </div>
    {% if request.path == "/" %}
    <div class="container">
        <div class="board" id="statistics-section">
            <h3>Statistics</h3>
            <div id="stats_wrapper">
                <div class="stat" id="num_games">
                    <div class="stat-num"></div>
                    <div class="stat-unit">Played</div>
                </div>
                <div class="stat" id="win_perc">
                    <div class="stat-num"></div>
                    <div class="stat-unit">Win %</div>
                </div>
                <div class="stat" id="current_streak">
                    <div class="stat-num"></div>
                    <div class="stat-unit">Current Streak</div>
                </div>
                <div class="stat" id="max_streak">
                    <div class="stat-num"></div>
                    <div class="stat-unit">Max Streak</div>
                </div>                  
            </div>
        </div>
    </div>
    {% endif %}
    {% include 'include/solution_container.html' %}
    {% include 'include/tutorial_container.html' %}
    {% include 'include/support_container.html' %}
{% endblock %}


{% block scripts %}
{{ super() }}

{% endblock %}
