{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Define global variabes for the max number of guesses and remaining guesses -->
      <div id="game">
        <div id="board">
          <div id="game_prompt">
            <h4>
              <span>Connect <span>
              <span class="game-prompt-player" id="prompt_player_1"></span>
              <span> to </span>
              <span class="game-prompt-player" id="prompt_player_2"></span>
              <span> through mutual teammates</span>
            </h4> 
          </div>
          <div id="player-pool">
            <div id="pool-row-start" class="pool-row game-start">
              Lewis Hamilton
            </div>
            <div id="pool-row-1" class="pool-row" data-active-pool-row=""></div>
            <div id="pool-row-2" class="pool-row" data-hidden-pool-row=""></div>
            <div id="pool-row-3" class="pool-row" data-hidden-pool-row=""></div>
            <div id="pool-row-4" class="pool-row" data-hidden-pool-row=""></div>
            <div id="pool-row-5" class="pool-row" data-hidden-pool-row=""></div>
            <div id="pool-row-6" class="pool-row" data-hidden-pool-row=""></div>
            <div id="pool-row-end" class="pool-row game-end">
              Max Verstappen
            </div>
          </div>
          <div id="search-container">
            <div id="search-results-container">
              <div id="auto-complete-results">
                <div id="search_stats"></div>
                <!-- <button type="button" class="auto-complete-result" id="result-0" data-player-id="332">Ricky Rubio</button><button type="button" class="auto-complete-result" id="result-1" data-player-id="231">Jrue Holiday</button><button type="button" class="auto-complete-result" id="result-2" data-player-id="2065">Rudy Gay</button><button type="button" class="auto-complete-result" id="result-3" data-player-id="2435">Russell Westbrook</button></div> -->

                <button type="button" class="auto-complete-result" id="result-0"></button>
                <button type="button" class="auto-complete-result" id="result-1"></button>
                <button type="button" class="auto-complete-result" id="result-2"></button>
                <button type="button" class="auto-complete-result" id="result-3"></button>
                <button type="button" class="auto-complete-result" id="result-4"></button>
              </div>
              <div id="search-wrapper">
                  <input
                  type="text"
                  name="searchBar"
                  id="search_bar"
                  autocomplete="off"
                  placeholder="search for a player"/>
              </div>
            </div>
          </div> 
          <div id="remaining_guesses">
            <h3>
              <span class="remaining-guesses-text">( Remaining Guesses: </span>
              <span class="remaining-guesses-number" id="remaining_guesses_number"></span> )</span>
            </h3>
          </div>
        </div>
      </div>
     </div>
  </div>
 </div>
</div>

<script src="{{url_for('static', filename='js/suggestions.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}

